<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Patient Mvc</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
<div class="container mt-2">
    <div class="card">
    <div class="card-header"> Liste des patients</div>
   <div class="card-body">
       <form method="get" th:action="@{index}">
           <label>Keyword</label>
           <input type="text" name="keyword" th:value="${keyword}">
           <button type ="submit" class="btn btn-primary">Chercher</button>
       </form>
       <table class="table">
           <thead>
           <tr>
               <th>ID</th><th>Nom</th><th>Date</th><th>Malade</th><th>Score</th>
           </tr>
           </thead>
           <tbody>
           <tr th:each="p:${ListPatients}">
               <td th:text="${p.id}"></td>
               <td th:text="${p.nom}"></td>
               <td th:text="${p.dateNaissance}"></td>
               <td th:text="${p.malade}"></td>
               <td th:text="${p.score}"></td>
               <td sec:authorize="hasRole('ADMIN')">
                   <a onclick="return confirm('etes vous sure ?')" class="btn btn-danger" th:href="@{delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                       Delete</a>
               </td>
               <td sec:authorize="hasRole('ADMIN')">
                   <a class="btn btn-success" th:href="@{editPatient(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                       Edit</a>
               </td>
           </tr>
           </tbody>
       </table>
       <ul class="nav nav-pills">
           <li th:each="page, status:${pages}">
               <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                  th:text="${status.index}"
                  th:href="@{index(page=${status.index}, keyword=${keyword})}"
               ></a>
           </li>
       </ul>
   </div>
    </div>
</div>
</div>
</body>
</html>